@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(60, 73, 77);
}

.home-section h2 {
  font-family: "Wallpoet";
  color: white;
  font-size: 2.5rem;
  line-height: 2.8rem;
}
.home-section {
  height: 100vh;
}
.home-section p,
h2,
h3 {
  padding: 0 0.5rem;
}
.home-paragraph {
  height: 100%;
  margin-top: 5rem;
  margin-bottom: 3rem;
  width: 100%;
  color: white;
  line-height: 1.5rem;
  font-size: 1rem;
}

.home-img {
  margin-bottom: 3rem;
  position: absolute;
  bottom: 15%;
  left: 16%;
}
.home-img img {
  height: 280px;
  border-radius: 140px;
  animation: avatar linear 3.5s infinite alternate;
  right: 15%;
}
.fa-brands {
  color: aqua;
}
.fa-brands:hover {
  transform: scale(1.4);
  transition: 0.2s;
  filter: blur(0.8px);
  cursor: pointer;
}
#text-target {
  color: aqua;
  font-size: 1.8rem;
  position: absolute;
  top: 82.5%;
  right: 35%;
  width: 30%;
  font-family: "Wallpoet";
}

/* Navigation */
.navigation {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgb(60, 73, 77);
  border-bottom: 1px solid aqua;
  z-index: 10;
  transition: 1s;
}

.navigation ul {
  margin-left: 1rem;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.navigation li {
  color: white;
  font-family: "Wallpoet";
  height: 50px;
  display: flex;
  align-items: center;
}
a {
  color: white;
}
.hidden {
  transform: translateY(-80px);
  transition: 0.4s;
}
.social-network {
  height: 2rem;
  bottom: 3rem;
  position: absolute;
}
.social-network .fa-brands {
  margin-left: 1rem;
  padding: 1.5rem 0.8rem;
  transition: 1.1s ease-out;
}

/* animation */
@keyframes blow {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
    filter: hue-rotate(0deg);
  }
  100% {
    transform: translate(-0%, -1000%);
    opacity: 0;
    filter: hue-rotate(720deg);
  }
}
@keyframes avatar {
  0% {
    transform: translateY(0px);
    transform: scale(1);
  }
  50% {
    transform: translateY(5px);
    transform: scale(1.1);
  }

  100% {
    transform: translateY(0px);
    transform: scale(1);
  }
}

@keyframes anim {
  25% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
}

/* Media Query */
@media screen and (min-width: 940px) {
  .home-top {
    display: flex;
    margin-top: 5rem;
  }
  .home-img {
    width: auto;
    left: 65%;
    top: 15%;
  }
  .home-img img {
    height: 400px;
    width: 360px;
  }
  .home-paragraph {
    margin-left: 2rem;
    width: 40%;
  }
  .home-paragraph span {
    font-size: 2.5rem;
  }
  .home-section h2 span {
    font-family: "Wallpoet";
    font-size: 5rem;
    line-height: 4rem;
  }
  .home-section h3 span {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 3rem;
  }
  .home-section h3 {
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }
  .home-section p span {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .social-network {
    bottom: 35%;
    left: 2rem;
  }
  .navigation {
    height: 80px;
  }
  .navigation li {
    height: 80px;
    font-size: 1.6rem;
  }
  #text-target {
    width: 50%;
    left: 30%;
    font-size: 4.5rem;
  }
  em {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    pointer-events: none;
    background: aqua;

    animation: blow 3s linear infinite;
  }
}
