.project-background {
    
    display : flex;
    justify-content: center;
    background-color: white;
    padding: 1rem 0rem;
    box-shadow: 8px 8px 11px 11px rgba(0.47, 0.47, 0.47, 0.47);
    margin-bottom: 1em;

    

}

.project-background.animate {
    animation: backgroundTransition 3s;


}

.title-project  {
    opacity: 0;
    visibility: hidden;
    font-family: "Wallpoet", sans-serif;
    font-size: 2em;
    line-height: 1em;
    justify-content: center;
    
}

.title-project .letter {

    display: inline-block;
    line-height: 1em
}

.reset {
    animation: none !important;
    transform: none !important;
    opacity: 0 !important;
    visibility: hidden !important;
    /* Ajoutez d'autres propriétés CSS si nécessaire */
  }
  
 
#project h3 {
    
    text-align: center;
    font-size: 1,5rem;
    color: white;
    padding : 1rem; 


}

#project img {
    box-shadow: 10px 8px 11px 0px rgba(0, 0, 0, 0.47);

}

.card-project {

    display: flex;
    justify-content: center;
    
}

.project-od {
    visibility: hidden;
    opacity: 0;
    height: 12rem;
    width: 90vw;
    animation: rotationLeftToRight 10s linear infinite;

    
}

.project-od.apparition {
    visibility: visible;
    opacity: 1;
    transition: 5s;

}

.project-apig {
    height: 12rem;
    width: 90vw;
    animation: rotationRightToLeft 10s linear infinite;

}

@keyframes backgroundTransition {
    0% { 

        transform: translateX(-100%);
        

    }

    100% {

        transform: translateX(0%);
    }

    
}

@keyframes projectTransition {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes rotationLeftToRight {
    0% {
        transform: rotate(-3deg)
    }
    50% {
        transform: rotate(3deg);
    } 

    100% {
        transform: rotate(-3deg)

    }
}
@keyframes rotationRightToLeft {
    0% {
        transform: rotate(3deg)
    }
    50% {
        transform: rotate(-3deg);
    } 

    100% {
        transform: rotate(3deg)

    }
}
