.skills-section {
  height: 100vh;
  width: 100vw;
}



.skill-background {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 8px 8px 11px 11px rgba(0.47, 0.47, 0.47, 0.47);
  padding: 1rem 0rem;

  background-color: white;
  margin-bottom: 4rem;
}

.skill-background.animate {
  animation: backgroundSkillsTransition 3s;

}



.skills-title {
  opacity: 0;
  visibility: hidden;
  color: black;
  font-family: "Wallpoet", sans-serif;
  font-size: 2em;
  line-height: 1em;
  justify-content: center;
    
    
}

.skills-title .letter {
  display: inline-block;
  line-height: 1em;
}

@keyframes backgroundSkillsTransition {
  0% { 

      transform: translateX(-100%);
      

  }

  100% {

      transform: translateX(0%);
  }
}


/* ///// CSS front-skills ////  */

.title-front {
  margin-top: 3rem;
  text-decoration: underline;
  
  /* opacity: 0; */
  /* transform: translateX(-100%); */
  /* transition: opacity 0.5s, transform 1.5s; */
}


.front-skills {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.skills-logo {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1rem; 
  border-radius: 9px;
  background: white;
  box-shadow:  8px 8px 7px #302f31,
             -6px -6px 7px #302f31;
}




/* .skills-logo-on-scroll{
        
       display: flex;
      flex-wrap: wrap;
      width: 50vw;
      gap: 4px;
      border: solid 2px black;
      padding: 0.5rem;
      transform: translateX(5%);
      transition: opacity 2s, transform 3s;
       
       
    } */

.skills-img {
  width: 100px;
  height: 100px;
}

.animate-left {
  opacity: 1;
  transform: translateX(0%);
}

.animate-right {
  opacity: 1;
  transform: translateX(0%);
}

/* #revealPoint {
	position: fixed;
	height: 20px;
	width: 100%;
	left: 0;
	bottom: 150px;
	color: red;
	padding: 7px;
	margin: 0;
	border-bottom: 1px solid red;
} */

/* BACK END SKILLS CSSS */

.title-back {
  margin-top: 5rem;
  text-decoration: underline;
  color: #fff;
}

.back-logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 0.5rem;
  width: 50vw;
  background: white;
box-shadow:  8px 8px 7px #302f31,
             -6px -6px 7px #302f31;
}


.express-img {
  width: 50px;
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.node-img {
  width: 50px;
  height: 50px;
  grid-column-start: 5;
  grid-column-end: 7;
}

.php-img {
  width: 50px;
  height: 50px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.postgresql-img {
  width: 50px;
  height: 50px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.mysql-img {
  width: 50px;
  height: 50px;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

.title-front {
  margin-top: 3rem;
  text-decoration: underline;
}


.front-skills {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.title-back {
  margin-top: 5rem;
  text-decoration: underline;
}

.skills-logo {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
  gap: 4px;
  border: solid 2px rgb(255, 255, 255);
  padding: 0.5rem;
  border-radius: 3px;
}
.skills-img {
  width: 50px;
  height: 50px;
}

.back-skills {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.back-logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: solid 2px rgb(255, 252, 252);
  padding: 0.5rem;
  width: 50vw;
  background-color: white;
  border-radius: 3px;
}

.express-img {
  width: 50px;
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.node-img {
  width: 50px;
  height: 50px;
  grid-column-start: 5;
  grid-column-end: 7;
}

.php-img {
  width: 50px;
  height: 50px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.postgresql-img {
  width: 50px;
  height: 50px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.mysql-img {
  width: 50x;
  height: 50px;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}

/* TOOLS DEVELOPPER SKILLS */

.tools-skills {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.vscode-img {
  grid-row-start: 1;
  grid-row-end: 2;
  width: 50px;
  height: 50px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.figma-img {
  width: 50px;
  height: 50px;
  grid-column-start: 5;
  grid-column-end: 7;
}

.git-img {
  width: 50px;
  height: 50px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.docker-img {
  width: 50px;
  height: 50px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.postman-img {
  width: 50px;
  height: 50px;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
}
