.skills-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.skills-section img {
  margin: 10px 15px;
  height: 40px;
  width: 40px;
}
.skills-section h2 {
  width: 100%;
  font-size: 3rem;
  font-family: "Wallpoet";
  text-align: center;
  color: white;
  padding: 1rem;
  border-bottom: 1px solid aqua;
  margin: auto;
  background-color: rgba(0, 255, 255, 0.032);
}
.skills-title {
  animation: backgroundTransition 2s;
}
.skills-section p {
  width: 50%;
  margin: 10px 15px;
  text-align: center;
  margin: auto;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-family: "Wallpoet";
}
.div-skills {
  display: flex;
  justify-content: space-around;
}
.skills-logo {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid rgb(255, 255, 255);
  margin-right: 10px;
  background-color: rgba(2, 244, 244, 0.082);
}

@keyframes backgroundTransition {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}
@keyframes skills {
  from {
    transform: translateX(40px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes skills-paragraphe {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (min-width: 1200px) {
  .skills-section img {
    margin: 1rem 2rem;
    height: 60px;
    width: 60px;
  }
  .skills-logo {
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgba(0, 255, 255, 0.287);
    margin-right: 15%;
    background-color: rgba(240, 248, 255, 0.045);
  }
  .div-skills p {
    font-size: 2rem;
    text-align: center;
  }
  .skills-section h2 {
    font-size: 5rem;
    width: 100%;
  }
}
