.contact-section {
  font-family: Wallpoet;
  color: white;
  margin-top: 4rem;
}
.form {
  padding-left: 1.5rem;
}
sup {
  color: #ea1212;
}
.titleForm {
  font-size: 24px;
  text-align: center;
}

.container-title-contact {
  border-bottom: solid 1px aqua;
  margin-bottom: 3rem;
}

.name-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
#name {
  color: white;
  width: 12rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  background-color: rgba(0, 255, 255, 0.032);
}
.email-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
#email {
  color: white;
  width: 20rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-bottom: 1px solid white;
  background-color: rgba(0, 255, 255, 0.032);
}
.message-area {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
#msg {
  color: white;
  width: 22rem;
  height: 5rem;
  font-size: 1rem;
  border-bottom: 1px solid white;
  background-color: rgba(0, 255, 255, 0.032);
}
.placeButtonSubmit {
  display: flex;
  justify-content: center;
}
.submit-button {
  text-align: center;
  width: 122px;
  height: 35px;
  margin: auto;
  background-color: #d9d9d9;
  font-family: "wallpoet";
  margin-bottom: 1rem;
}

#message-error {
  color: #ea1212;
}

.business-card {
}

#logos {
  margin-top: 10vh;
  text-align: center;
}

#logos img {
  margin-right: 25px;
}
